
.main-text {
  text-align: center;
  padding-top: 5px ;
  padding-bottom: 5px;
}

.main-logo {
  color: #e59c9c;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 5px;
}
.logo-main-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 50px;
}
.back-main {
  width:  1230px;
  min-height:  862px;
  background: #ffffff;
  border-radius: 20px;

}

