.cont {
  width: 1230px;
  min-height: 352px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 90px;
  padding-top: 40px;
  padding-left: 89px;
  margin-bottom: 600px;
  display: flex;
}
.foto {
  width: 409px;
  height: 272px;
  border-radius: 20px;
}
.text-about-me {
  display: block;
  margin-left: 48px;
  margin-right: 90px;
}
.logo-about-me {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;

  color: #333333;
}
.textlor {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
